@mixin respond-to($breakpoint) {
  @if $breakpoint == 'movil' {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $breakpoint == 'tableta' {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $breakpoint == 'escritorio' {
    @media (min-width: 901px) {
      @content;
    }
  }
}