@use 'variables' as v;

/* Barra de navegación */
nav.main-nav {
    background-color: v.$primary-color;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1200;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.15);
}

nav.main-nav ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    align-items: center;
    padding: 0.8rem 1rem;
    position: relative;
}

nav.main-nav ul li {
    position: relative;
}

nav.main-nav ul li a,
nav.main-nav ul li button {
    color: white;
    background: none;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.35rem 0;
    cursor: pointer;
    text-transform: uppercase;
    user-select: none;
}

nav.main-nav ul li a:hover,
nav.main-nav ul li button:hover,
nav.main-nav ul li a:focus,
nav.main-nav ul li button:focus {
    color: #a9d1ff;
    outline: none;
}

/* Menú hamburguesa - estilos móviles */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 15px;
    z-index: 1000;
    border: none;
    border-radius: 8px;
    background-color: #ccc1c1;
    font-size: 21px;
}

nav.main-nav.mobile-active ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: v.$primary-color;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1.2rem 1rem;
    border-radius: 0 0 8px 8px;
}

nav.main-nav.mobile-active ul li.destinos > ul {
    position: static;
    background: transparent;
    box-shadow: none;
    display: none;
    padding: 0;
    min-width: unset;
    flex-wrap: nowrap;
}

nav.main-nav.mobile-active ul li.destinos.open > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    max-height: 6rem;
    gap: 0.5rem;
    margin-top: 0.6rem;
}

nav.main-nav.mobile-active #btn-destinos{
    align-self: center !important;
}