// Variables globales
$primary-color: #1e64d4;
$primary-color-dark: #144ea6;
$secundary-color: #0dbaa6;
$text-color: #202020;
$text-color-secondary: hsl(0, 0%, 33%);
$background-color: #121619;
$light-color: white;
$font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
